.view {
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
}

.crypto-tool-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 27px;
  align-items: center;
  min-width: 200px;
  overflow-x: scroll;
}

.cipher-input {
  resize: none;
  height: 30vh;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #707070;
  width: 60vw;
}

.inputs {
  flex: auto;
}

.cipher-inputs-container {
  display: flex;
  flex-direction: column;
}

.action-btn {
  width: 100%;
  max-width: 250px;
  height: 45px;
  background-color: #E3341B;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}

.input-label {
  color: #A4A6A6;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 19px;
}
